@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

:root {
  --font-color: rgb(234, 245, 234);
  --font-color-dark:#3e3e3e;
  --background-dark: #181818;
  --background-dark2:rgb(30, 32, 34);

  --color-primary:red;

  background:var(--background-dark);
  color:var(--font-color);
  
  font-family: Arial, Helvetica, sans-serif;
  
  @media screen and (min-width: 1700px) {
    font-size:18px;
  }
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  transition:all 0.2s;
}

body {
  min-height:100vh;
}
