/* variables  */
:root {
  --font-color: rgb(234, 245, 234);

  --background-dark: #181818;
}

:root {
  background:var(--background-dark);
  color:var(--font-color);
  
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  min-height:100vh;
}