h1,h2,h3,h4,h5,h6{
	text-align: center;
	font-weight:400;
}
h1{
	font-size:2.2rem;
	margin-bottom:0.75rem;
	letter-spacing: var(--letter-spacing-medium);
}
h2 {
	font-size: var(--font-size-large);
	margin-bottom:0.75rem;
}
h3 {
}

p {
	font-size:var(--font-size-small);
}
button {
	letter-spacing: var(--letter-spacing-medium);
	background:var(--color-primary);
	border:1px solid var(--color-primary);
	outline:none;
	border-radius:var(--border-radius-medium);
	padding:0.6rem 2.0rem;
	cursor:pointer;
	margin:auto;
	display:block;
	color:white;
	font-weight: 500;
	font-size: var(--font-size-small);
	min-width:9rem;
}
